<div class="row">
	<div class="col-md-3">
		<form class="service_form">
			<div class="form-group">
				<label for="workflow">workflow name</label>
				<input type="text" [(ngModel)]="importData.name" class="form-control" ngControl="workflow" [required]="true" [readonly]="disableUpdate">
			</div>
		</form>
		<form class="service_form" *ngIf="loadJSON">
			<div class="form-group">
				<label for="json">JSON</label>
				<textarea [(ngModel)]="data" class="form-control" rows="10" [readonly]="disableUpdate"></textarea>
				<button (click)="onSubmitJSON(data)" [disabled]="disableUpdate">Submit</button>
			</div>
		</form>
		<form class="service_form" *ngIf="exportJSON && !loadJSON">
			<div class="form-group">
				<label for="JSON">JSON preview</label>
				<textarea class="form-control" rows="10" readonly>{{exportData | json}}</textarea>
			</div>
		</form>
		<form *ngIf="!hiddenNode && hiddenEdge && !submittedJSON" class="service_form">

			<!-- Name of the service -->
			<div class="form-group">
				<label for="name">task name</label>
				<input type="text" [(ngModel)]="selectedService.name" class="form-control" ngControl="name" required>
			</div>

			<!-- Command of the service -->
			<div class="form-group">
				<label for="srv">command</label>
				<input type="text" [(ngModel)]="selectedService.srv" class="form-control" ngControl="srv">
			</div>

			<!-- Command parameter of the service -->
			<div class="form-group">
				<label for="in">input</label>
				<input type="text" [(ngModel)]="selectedService.in" class="form-control" ngControl="in">
			</div>

			<!-- Alternative group of the service -->
			<div class="form-group">
				<label for="alt">alternative group</label>
				<input type="text" [(ngModel)]="selectedService.alt" class="form-control" ngControl="alt">
			</div>

			<!-- Supervised group of the service -->
			<div class="form-group">
				<label for="sup">supervision group</label>
				<input type="text" [(ngModel)]="selectedService.sup" class="form-control" ngControl="sup">
			</div>

			<!-- Supervised group of the service -->
			<div class="form-group">
				<label for="description">description</label>
				<textarea class="form-control" ngControl="description" [(ngModel)]="selectedService.description" rows="3"></textarea>
			</div>
		</form>

		<form *ngIf="!hiddenEdge && hiddenNode && !submittedJSON" class="service_form">

			<!-- Source of the edge -->
			<div class="form-group">
				<label for="source">Source</label>
				<input type="text" [(ngModel)]="selectedEdge.source" class="form-control" ngControl="source" readonly>
			</div>

			<!-- Target of the edge -->
			<div class="form-group">
				<label for="target">Target</label>
				<input type="text" [(ngModel)]="selectedEdge.target" class="form-control" ngControl="target" readonly>
			</div>

			<div class="radio">
				<label>
					<input type="radio" name="options" id="option1" [ngModel]="selectedEdge.type_control" [checked]="selectedEdge.type_control == 0" (change)="onChangeControl()" value="0" [disabled]="disableUpdate"> Control dependency
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="options" id="option2" [ngModel]="selectedEdge.type_control" [checked]="selectedEdge.type_control == 1" (change)="onChangeData()" value="1" [disabled]="disableUpdate"> Data dependency
				</label>
			</div>
		</form>

		<form *ngIf="!hiddenNode && hiddenEdge && serviceOk" class="service_form">

			<!-- Exit status code of the service -->
			<div class="form-group">
				<label for="status_code">Status code</label>
				<input type="text" [(ngModel)]="selectedGinflowResult.exit" class="form-control">
			</div>

			<!-- Output of the service -->
			<div class="form-group">
				<label for="output">Output</label>
				<input type="text" [(ngModel)]="selectedGinflowResult.out" class="form-control">
			</div>

			<!-- Error output of the service -->
			<div class="form-group has-error">
				<label for="error">Error</label>
				<input type="text" [(ngModel)]="selectedGinflowResult.err" class="form-control">
			</div>
		</form>
	</div>
	<div class="col-md-9">
		<cytoscape-graph
			(select)="onSelect($event)"
			(launch)="onLaunch($event)"
			(end)="onEnd($event)"
			(toggle)="onToggle($event)"
			(exports)="onJSONExport($event)"
			[currentSrv]="selectedService.srv"
			[currentAlt]="selectedService.alt"
			[currentSup]="selectedService.sup"
			[currentTypeControl]="selectedEdge.type_control"
			[currentEdge]="selectedEdge"
			[workflowName]="importData.name"
			[importData]="importData"
			[exportData]="exportData"
		></cytoscape-graph>
	</div>
</div>
