<nav class="navbar navbar-default navbar-fixed-top always-on-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<span class="navbar-brand">Ginflow Webapp</span>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<button
						class="btn btn-default navbar-btn graph-buttons"
						(click)="onLaunch()">Launch
					</button>
				</li>
				<li>
					<button
						class="btn btn-default navbar-btn graph-buttons"
						*ngIf="!loadJSON"
						(click)="onClickToggle()">Toggle to import JSON
					</button>
					<button
						class="btn btn-default navbar-btn graph-buttons"
						*ngIf="loadJSON"
						(click)="onClickToggle()">Toggle to create graph
					</button>
				</li>
				<li>
					<button
						class="btn btn-default navbar-btn graph-buttons"
						(click)="onExportJSON()"
						[disabled]="wasClickedOnce">Export to JSON
					</button>
				</li>
			</ul>
			<ul class="nav navbar-right navbar-text">
				<li>
					<span *ngIf="workflowStatus == 0" class="label label-default">Workflow on creation</span>
					<span *ngIf="workflowStatus == 2" class="label label-primary">Workflow started</span>
					<span *ngIf="workflowStatus == 3" class="label label-info">Workflow on execution</span>
					<span *ngIf="workflowStatus == 4" class="label label-danger">Workflow failed</span>
					<span *ngIf="workflowStatus == 5" class="label label-success">Workflow finished</span>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="row progressbar-row">
	<div class="col-md-3 progressbar">
		<div class="progress-bar-container">
			<span class="progress-bar-text">workflow deployment</span>
			<progressbar
				class="progress-striped active"
				[max]="maxPourcentage"
				[value]="workflowPourcentageDeployment"
				type="info">
				<span>{{workflowPourcentageDeployment}}%</span>
			</progressbar>
		</div>
	</div>

	<div class="col-md-3 progressbar">
		<div class="progress-bar-container">
			<span class="progress-bar-text">workflow initialisation</span>
			<!-- NB: Type warning is only for style and is not a real warning -->
			<progressbar
				class="progress-striped active"
				[max]="maxPourcentage"
				[value]="workflowPourcentageDescription"
				type="warning">
				<span>{{workflowPourcentageDescription}}%</span>
			</progressbar>
		</div>
	</div>

	<div class="col-md-6 progressbar">
		<div class="progress-bar-container progress-bar-result">
			<span class="progress-bar-text">workflow execution</span>
			<!-- NB: Type success is only for style and is not a real success -->
			<progressbar
				class="progress-striped active"
				[max]="maxPourcentage"
				[value]="workflowPourcentageResult"
				type="success" style="width: auto;">
				<span>{{workflowPourcentageResult}}%</span>
			</progressbar>
		</div>
	</div>
</div>

<div class="row">
	<div id="cy" class="graph"></div>
</div>
