#cy {
	background-color: #F2F2F2;
	display: block;
	width: 97%;
	height: 88%;
	margin-bottom: 20px;
}

.graph-buttons {
	margin-left: 15px;
	margin-right: 15px;
}

.graph {
	border-style: solid;
	border-color: #D0D0D0;
	border-radius: 10px;
}

.always-on-top {
	/* 100000 z-index beacuse of cytoscape panzoom widget which has a z-index = 99999.
	 * So we force the navbar always on top */
	z-index: 100000;
}

.progress-bar-container {
	display: inline-block;
}

.progress-bar-result {
	width: 100%;
}

.progress-bar-text {
	display: block;
}

.progressbar {
	text-align: center;
}

.progressbar-row {
	margin-right: 15px;
}